@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Oswald:wght@400;700&display=swap");
.head-overview {
  background-color: #0f0e17;
}

.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2c3e50;
  z-index: 0;
  transform: skewY(-2deg);
  transform-origin: top left;
}

.navbar {
  background: #0f0e17;
}
.navbar a {
  font-size: 1.1875rem;
  font-weight: 500;
  color: #fffffe;
}
.navbar .brand-logo {
  font-size: 2rem;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.5s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
  color: #ff8906;
}

.email {
  text-decoration: underline;
  font-weight: 600;
}

#mobile-demo {
  background: #ffeadb;
}

.banner {
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.banner h1 {
  font-weight: 700;
  font-size: 3.5rem;
  color: #fffffe;
}
.banner p {
  color: #a7a9be;
  line-height: 2.3125rem;
  font-size: 1.3125rem;
}
.banner .programmer-img {
  max-width: 100%;
  display: block;
}
.banner .actions {
  margin-bottom: 2.5rem;
}
.banner .actions a {
  margin-right: 1.2rem;
}

.resume {
  background: #f25f4c;
  opacity: 0.8;
  text-transform: uppercase;
  border-radius: 25px;
  font-weight: 500;
}
.resume:hover {
  background: #e53170;
}

.contact {
  background: #ff8906;
  opacity: 0.8;
  text-transform: uppercase;
  border-radius: 25px;
  font-weight: 500;
}
.contact:hover {
  background: #e53170;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  align-items: flex-start;
  margin-left: -20px;
}

.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sink:hover,
.hvr-sink:focus,
.hvr-sink:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.skills {
  padding-top: 3.5rem;
  padding-bottom: 5rem;
  background-color: #fffffe;
}

.section-header h2 {
  color: #0f0e17;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
}
.section-header p {
  padding: 1rem 0;
  color: #2e2f3e;
  font-weight: 400;
}

.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.technologies .stack {
  font-size: 50px;
}

.tech-icons {
  margin-right: 10px;
  color: #868e96;
  font-weight: 400;
}
.tech-icons:hover {
  color: #e53170;
}
.tech-icons p {
  font-size: 14px;
  text-align: center;
  margin-top: -4px;
}

hr.rule {
  overflow: visible;
  /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  max-width: 400px;
  opacity: 0.3;
}

hr.rule:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

.projects {
  background-color: #0f0e17;
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.projects h2 {
  color: #fffffe;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
}
.projects p {
  padding: 0 1rem;
  color: #a7a9be;
  font-weight: 400;
}
.projects hr.rule {
  border-top: medium double #fff;
}

.repo-space {
  margin: 10px 0;
  transition: transform 2s;
  opacity: 0.9;
}
.repo-space:hover {
  transform: scale(1.05);
  opacity: 1;
}

.repo {
  background: #fff;
}
.repo p {
  color: #0f0e17;
  opacity: 0.9;
}
.repo .title {
  display: flex;
  justify-content: flex-start;
}

.repo-description p {
  margin-top: -5px;
  padding-bottom: 15px;
}

.repo-footer {
  display: flex;
  justify-content: space-between;
}

.experience {
  padding-top: 3.5rem;
  padding-bottom: 5rem;
  background: #ffeadb;
}
.experience h5 {
  font-family: "Noto Sans", sans-serif;
}
.experience .timeline-description {
  font-weight: 400;
  font-size: 1rem;
}
.experience .date {
  font-weight: bolder;
  color: #000;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.particles canvas {
  z-index: -1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
  border-radius: 10px;
}

/*# sourceMappingURL=App.css.map */
