@import "./scss/partials/variables";
@import "./scss/partials/navbar";
@import "./scss/partials/banner";

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Oswald:wght@400;700&display=swap");

body {
  font-family: "Barlow", sans-serif;
  font-size: 100%;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
