.banner {
  padding-top: 4.5rem;
  padding-bottom: 5rem;
  h1 {
    font: {
      weight: 700;
      size: 3.5rem;
    }
    color: $masthead-text;
  }

  p {
    color: $banner-paragraph;
    line-height: 2.3125rem;
    font-size: 1.3125rem;
  }

  .programmer-img {
    max-width: 100%;
    display: block;
  }

  .actions {
    margin-bottom: 2.5rem;
    a {
      margin-right: 1.2rem;
    }
  }
}

.resume {
  background: #f25f4c;
  opacity: 0.8;
  text-transform: uppercase;
  border-radius: 25px;
  font-weight: 500;

  &:hover {
    background: #e53170;
  }
}

.contact {
  background: #ff8906;
  opacity: 0.8;
  text-transform: uppercase;
  border-radius: 25px;
  font-weight: 500;

  &:hover {
    background: #e53170;
  }
}
