.contact-me {
  background: #fffffe;
  padding-top: 4.5rem;
  h2 {
    font: {
      weight: 700;
      size: 48px;
    }

    @include tablet {
      font-size: 3rem;
    }

    @include phone {
      font-size: 2rem;
    }
  }

  h3 {
    color: #2e2f3e;
    opacity: 0.9;
    font-size: 2rem;
    @include tablet {
      font-size: 2rem;
    }
  }
  h4 {
    font-size: 1.2rem;
  }
  .reach-out {
    @include tablet {
      text-align: center;
    }
    p {
      font-size: 1.2rem;
      color: #2e2f3e;
    }

    .loc {
      color: #f25f4c;
      font-size: 15px;
    }
  }
}

.profile {
  img {
    border-radius: 10px;
    padding: 5px;
    max-width: 100%;
    display: block;
    opacity: 0.9;

    @include tablet {
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
