.experience {
  @include section;
  background-color: #ffeadb;
  h5 {
    font-family: "Noto Sans", sans-serif;
  }
  .timeline-description {
    font-weight: 400;
    font-size: 1rem;
  }
  .date {
    font-weight: bolder;
    color: #000;
  }
}
