.experience {
  @include section;
  background-color: #ffeadb;
  h5 {
    font-family: "Noto Sans", sans-serif;
    color: #f25f4c;
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .timeline-description {
    font-weight: 400;
    font-size: 1.1rem;
  }
  .date {
    font-weight: bolder;
    color: #000;
    font-size: 1rem;
  }
}
