@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

@mixin section {
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

@mixin section-header {
  h2 {
    color: #fffffe;
    font-family: "Noto Sans", sans-serif;
    @include tablet {
      font-size: 3rem;
    }
    font: {
      weight: 700;
      size: 48px;
    }
  }

  p {
    padding: 0 1rem;
    color: #a7a9be;
    font-weight: 400;
  }

  hr.rule {
    border-top: medium double #fff;
  }
}
