.active {
  background: linear-gradient(to right, #f25f4c 0%, #f25f4c 5px, transparent);
  opacity: 0.9;
}

.head-overview {
  background-color: $masthead-bg;
}

.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2c3e50;
  z-index: 0;
  transform: skewY(-2deg);
  transform-origin: top left;
}

.navbar {
  background: $masthead-bg;
  a {
    font: {
      size: 1.1875rem;
      weight: 500;
    }
    color: $masthead-text;
  }

  .brand-logo {
    font: {
      size: 2rem;
    }
  }
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.5s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
  color: #fff;
}

.email {
  text-decoration: underline;
  font-weight: 600;
}

#mobile-demo {
  background: #ffeadb;
}
