.projects {
  background-color: $masthead-bg;
  @include section;

  h2 {
    color: #fffffe;
    font-family: "Noto Sans", sans-serif;
    @include tablet {
      font-size: 3rem;
    }
    @include phone {
      font-size: 2rem;
    }
    font: {
      weight: 700;
      size: 48px;
    }
  }
  p {
    padding: 0 1rem;
    color: #a7a9be;
    font-weight: 400;
  }

  hr.rule {
    border-top: medium double #fff;
  }
}
