.skills {
  padding-top: 3.5rem;
  padding-bottom: 5rem;
  background-color: #fffffe;

  .section-header {
    h2 {
      color: #0f0e17;
      font: {
        weight: 700;
        size: 48px;
      }
    }
    p {
      font-size: 1.3125rem;
      padding: 0 1rem;
      color: #2e2f3e;
      font-weight: 400;
    }
  }
}

.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .stack {
    font-size: 50px;
  }
}

.tech-icons {
  margin-right: 10px;
  color: #868e96;
  font-weight: 400;
  &:hover {
    color: #e53170;
  }
  p {
    font-size: 14px;
    text-align: center;
    margin-top: -4px;
  }
}
